.filter, .search {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filter label, .search label {
    margin-right: 10px;
}

.filter input, .search input {
    padding: 8px;
    margin-right: 10px;
}
.date-form{
    color:"#0054A6";
}
.pagination .page-item.active .page-link {
    background-color: #0054A6; /* Thay đổi màu nền mong muốn */
    color: white; /* Thay đổi màu chữ mong muốn */
  }

.filter button, .search button {
    padding: 8px 16px;
    background-color: #0054A6;   
    color: white;
    border: none;
    cursor: pointer;
}
.form-group .input-group {
    border: none; /* Loại bỏ khung viền */
  }

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}




.pagination a {
    
    color: black;
   
}
.page-number {
    display: inline-block;
    padding: 7px 10px;
    border: 2px solid #0054A6; /* Màu viền */
    border-radius: 4px; /* Bo tròn góc */
    background-color: white; /* Màu nền */
    color: #0054A6; /* Màu chữ */
    font-size: 14px; /* Kích thước chữ */
    font-weight: bold; /* Chữ đậm */
    cursor: pointer; /* Hiển thị con trỏ tay */
  }
.tr{
    margin-bottom: 20px; /* Khoảng trắng 20px */
}

.c012 {
    position: relative; /* Cho phép đặt các thẻ card lên video */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Căn giữa theo chiều ngang */
  }
  
  .card1 {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
    width: 177.55px;
    height: 261px;
    position: relative;
    overflow: hidden;
  }
  
  .card1:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    text-align: center;
    position: relative;
    height: 100%;
  }
  
  .card-title, .card-text {
    position: absolute;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 0 10px;
  }
  
  .card-title {
    top: 60%;
    font-size: 15px;
    font-weight: bold;
  }
  
  .card-text {
    bottom: 50px;
    font-size: 14px;
  }
  
  .card-overlay {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 10;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    transition: opacity 0.3s ease;
    opacity: 0;
    margin-bottom:15px;
  }
  
  .card1:hover .card-overlay {
    display: flex;
    opacity: 1;
  }
  
  .card-body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  .title {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 50px;
    margin-left: 320px;
    position: relative; /* Cho phép đặt ảnh lên trên */
    top: 50%; /* Căn giữa theo chiều dọc */
    transform: translateY(-50%); /* Căn giữa theo chiều dọc */
  }
.nv1 {
  background-color: white;
  border: 1px solid black;
  box-shadow:
  5px 0px 10px -3px rgba(0, 0, 0, 0.5), /* Bóng bên phải */
  -5px 0px 10px -3px rgba(0, 0, 0, 0.5), /* Bóng bên trái */
  0px 5px 10px -3px rgba(0, 0, 0, 0.5), /* Bóng bên dưới */
  0px -5px 10px -3px rgba(0, 0, 0, 0.5); /* Bóng bên trên */ /* Bóng bên trên */
  
  height: 660px;
  width: 1294px;
  margin-left: 180px;
}
.s1 {
    color:white;
}
.pagination a.active {
    background-color: #007bff;
    color: white;
}
.fc1{
 border:none;
 color:rgb(0, 84, 166);
}
.fc2{
    color:#0054A6;
  
}
